# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# next.js
.next/

# Dashboard
#src/app/(app)/dashboard/

# Components
#src/components/

# env files
.env.local

# service account
service-account.json

# CSS
src/app/globals.css
tailwind.config.ts



